/* Orders.css */
.orders-title {
    font-size: 2em;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th,
.orders-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.orders-table th {
    background-color: #0939dc;
    color: white;
}

button {
    background-color: #0939dc;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
}

select {
    width: 200px;
    height: 35px;
    margin-right: 10px;
}